.sameLevelMap {
    margin-top: 34px;
}
#search-place > .input-append > span{
    display: inline-block;
    padding: 0 10px 0 0;
}

#search-place > .input-append > span > input[type="text"]{
    width: 100%;
}

.map-wrapper{
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 510px){
    #search-place > .input-append > span > input[type="text"] {

        margin-bottom: 10px;
    }

    #search-place > .input-append > .btn-success{
        float: right;
        margin-right: 20px;
    }
}