.sameLevelMap {
    margin-top: 45px !important;
}
#search-place > .input-append > span{
    display: inline-block;
    padding: 0 10px 0 0;
}

#search-place > .input-append > span > input[type="text"]{
    width: 100%;
}

.map-wrapper{
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 520px){
    #search-place > .input-append > span{
        width: 98%;
        max-width: 98%;
        margin: 5px auto;
    }
    #search-place > .input-append > span > input[type="text"] {
        width: 100%;
    }
}